@font-face {
    font-family: Rubik;
    src: url("../assets/fonts/Rubik/Rubik-Regular.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Rubik;
    src: url("../assets/fonts/Rubik/Rubik-Bold.ttf");
    font-weight: 800;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Rubik";
    direction: rtl;
    color: rgb(3, 24, 24);
    /* color: white; */
    /* background-image: url("../assets/images/general/bg.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat; */
    /* overflow: hidden; */

}

.main {
    width: 100%;
    height: 100%;
    background: rgb(165, 204, 255);
    /* background: linear-gradient(146deg, rgba(31,255,199,1) 0%, rgba(66,238,205,1) 29%, rgba(0,205,190,1) 100%);     */
    background: linear-gradient(146deg, rgb(165, 204, 255) 0%, rgb(132, 178, 255) 29%, rgb(60, 99, 187) 100%);
}
.page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.page:not(.active) {
    display: none;
}

.page.code {
    display: flex;
    align-items: center;
    justify-content: center;
}

.page .input-code {
    height: 3rem;
    border-radius: 2rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
    width: 57%;
    font-family: cursive, "Rubik";
    transition: 0.5s transform ease-in-out, background-color 0.5s ease-in-out;
}

.page .input-code.mistake {
    transform: scale(1.1);
    background-color: tomato;
}

.page .input-code.correct {
    transform: scale(1.2);
    background-color: rgb(35, 255, 145);
}

.page .text {
    font-size: 1.5rem;
    font-weight: 800;
    color: rgb(1, 12, 10);
    margin: 2rem;
    text-align: center;
}

.page .check-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 6rem;
    background-color: white;
    border-radius: 2rem;
    margin-top: 2.5rem;
    font-weight: 800;
    margin-bottom: 4rem;
}
.page .check-btn:focus {
    transform: scale(0.9);
}

.page.idf .ruach {
    width: 95%;
    border-radius: 1rem;
    box-shadow: 1px 1px 16px 6px #2a4c79;
    margin-top: 1rem;
}

.page .text2 {
    text-align: center;
    margin-bottom: 0.5rem;

}

.page.idf .input-code {
    margin-bottom: 2rem;
}

.page.idf .check-btn {
    display: block;
    text-align: center;
    padding: 0.5rem;
}

.text3 {
    font-size: 5rem;
    text-align: center;
}

.final-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text4 {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: -1rem;
    text-align: center;
}
@media only screen and (min-width: 550px) {
    .page.code .text { 
        font-size: 3rem;
    }
    .page.code .check-btn {
        font-size: 1.5rem;
        width: 11rem;
        height: 3.5rem;
    }
  }